body {
  background-color: sandybrown;
  background-image: url(../Images/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  background-color: aqua;
}
